@import '../../../../../styles/abstract/variables';
@import '../../../../../styles/abstract/mixins';

.about-certificates-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    &__item {
        flex: 1 1 280px;
        max-width: 390px;
        min-width: 280px;
    }
    &__image {
        border-radius: $border-radius;
        width: 100%;
        height: auto;
    }

    @include mobile {
        display: none;
    }
}