@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

.services {
    margin-block-start: $spacing-mobile-60;
    display: flex;
    flex-direction: column;
    gap: $spacing-mobile-30;

    @include desktop {
        margin-block-start: $spacing-desktop-120;
        gap: $spacing-desktop-60;
    }

    &__title {
        @include section-title;
    }
}