// colors
$color-bg: #2C2C2C;
$color-accent: #00EAFF;
$color-font: #F1F1F1;
$color-AccentButton-hover: #00919f;
$color-AccentButton-active: #00616a;
$color-BgButton-hover: #427276;
$color-BgButton-active: #204347;

//font
$font-main: 'Roboto Condensed', sans-serif;
$font-weight-reg: 400;
$font-size-base-desktop: 16px;
$font-size-base-mobile: 14px;

$font-size-desktop-48: 3rem;
$font-size-desktop-32: 2rem;
$font-size-desktop-20: 1.25rem;
$font-size-desktop-16: 1rem;

$font-size-mobile-32: 2.286rem;
$font-size-mobile-20: 1.429rem;
$font-size-mobile-16: 1.143rem;
$font-size-mobile-14: 1rem;

// borders
$border-radius: 10px;

//spacing-mobile, font-size 14px
$spacing-mobile-10:0.714rem;
$spacing-mobile-20:1.429rem;
$spacing-mobile-30:2.143rem;
$spacing-mobile-60:4.286rem;
$padding-mobile-29: 2.071rem;
$padding-mobile-15: 1.071rem;

//spacing-desktop, font-size 16px
$spacing-desktop-15: 0.938rem;
$spacing-desktop-50: 3.125rem;
$spacing-desktop-60: 3.75rem;
$spacing-desktop-120: 7.5rem;

$padding-desktop-48: 3rem;
$padding-desktop-140: 8.75rem;