@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

.header {
    height: 698px;
    min-height: 698px;
    padding: 0 0 0 10px;
    border-radius: $border-radius;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-block-start: $spacing-mobile-20;
    background-image: url('../../../assets/images/background/header-background-mobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.5;
        z-index: 1;
        border-radius: $border-radius;
    }

    @include desktop {
        min-height: 568px;
        align-items: center;
        margin-block-start: $spacing-desktop-50;
        padding: 0 0 0 30px;
        background-image: url('../../../assets/images/background/header-background-desktop.webp');
    }
}