@import '../../../../styles/abstract/variables';

.burger-menu-window {
    position: fixed;
    top: 0;
    right: -100%;
    border: 1px solid $color-accent;
    border-radius: $border-radius;
    min-width: 301px;
    min-height: 307px;
    display: grid;
    place-items: center;
    background-color: $color-bg;
    z-index: 1000;
    transition: right 0.4s ease-in-out;

    @media (max-width: 320px) {
        display: none;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 36px;
        height: 36px;
    }

    &-open {
        right: 0;

        @media (max-width: 320px) {
            display: grid;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-mobile-30;
        text-align: center;
    }

}