@import '/src/styles/abstract/variables';
@import '/src/styles/abstract/mixins';

.App {
    min-height: 100vh;
    padding: $padding-mobile-29 $padding-mobile-15 ;
    width: 100%;

    @include desktop {
        padding: $padding-desktop-48 $padding-desktop-140;
        max-width: 1440px;
        margin: 0 auto;
    }
}